.textField {
  width: -webkit-fill-available;
}

.fieldWrapper {
  margin: 1.25rem 0 1.25rem 0; 
}

.selectWrapper {
  width: -webkit-fill-available;
  height: 2.5rem;
}

.optionWrapper {
  flex-grow: 2;
}

.optionsWrapper {
  display: flex;
  justify-content: space-between;
}