@import "../../styles/variables";
@import "../../styles/mixins.scss";

.container {
  width: 100%;
  padding: 1rem;
  border-bottom: .0625rem solid lightgrey;

  .errorVisibility {
    visibility: hidden;
  }

  .error {
    font-family: $fontFamilySourceCode;
    font-size: toRem(13);
    color: #eb0000;
    font-weight: 200;
    line-height: 150%;
    padding-top: 0.2rem;
  }

  .formLabels {
    font-family: $fontFamilySourceCode;
    font-weight: 600;
    font-size: toRem(17);
  }

  .requiredField {
    color: red;
    font-size: large;
    margin-left: 0.1rem;
  }

  .subContainer {
    .deleteContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
    }

    .deleteBtn {
      cursor: pointer;
    }
  }
}