@import "../../styles/variables";
@import "../../styles/mixins.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  background-color: white;
  color: #0b0a0a;

  .img {
    height: toRem(450);
    width: auto;
    background-position: center;
    background-size: cover;
  }

  .msg {
    text-transform: uppercase;
    font-size: toRem(20);

    .link_text {
      color: black;
      word-spacing: 2px;
    }

    .link {
      text-decoration: none;
      color: $mistuFailedColor;
      font-weight: 900;
      cursor: pointer;
    }

    .link:hover {
      text-decoration: underline;
    }
  }
}