.container {
  display: flex;
  flex-direction: column;

  .nav {
    align-items: center;

    .navItems {
      // flex: 1;
      align-items: center;
      text-align: center;
      padding: 0 1rem;
    }
  }

  .outlet {
    margin-top: 1rem;
  }
}