@import "../../styles/variables";
@import "../../styles/mixins.scss";

.emailContainer {
  height: 80vh;
  width: 100vw;
  @include flexRow();

  .spinner svg {
    height: toRem(100);
    width: toRem(100);
  }

  .emailElements {
    @include flexRow();
    flex-direction: column;
    padding: 10rem;
    width: 50%;
    border-radius: toRem(10);

    .img {
      position: relative;
      padding: 1rem;

      .logo {
        height: toRem(60);
        width: toRem(60);
        border-radius: 100%;
        background-color: $mistuSuccessColor;
        inset: 9rem 0 0 8rem;
        position: absolute;
        animation: bounce 2s infinite;
        @include flexRow;

        svg {
          font-size: toRem(30);
          color: white;
        }
      }

      .logoRed {
        height: toRem(60);
        width: toRem(60);
        border-radius: 100%;
        background-color: $mistuFailedColor;
        inset: 9rem 0 0 8rem;
        position: absolute;
        animation: bounce 2s infinite;
        @include flexRow;

        svg {
          font-size: toRem(30);
          color: white;
        }
      }

      .imgLogo {
        height: toRem(180);
        width: toRem(180);
        background-size: cover;
        background-repeat: none;
        margin-top: 0.5rem;
      }
    }

    .content {
      @include flexRow();
      flex-direction: column;

      .heading {
        @include heading();
        font-size: toRem(30);
      }

      .verifyBTn {
        @include button();
        width: 50%;
        font-size: toRem(15);
      }

      span {
        @include span();
      }
    }
  }
}

@keyframes bounce {

  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-12px);
  }
}