@import "../../../styles/variables";
@import "../../../styles/mixins.scss";

.optionContainer {
  overflow-y: scroll;
  padding: 0.5rem;

  .formLabels {
    font-family: $fontFamilySourceCode;
    font-weight: 500;
    font-size: toRem(15);
    color: black !important;

    .requiredField {
      color: red;
      font-size: toRem(12);
      margin-left: 0.1rem;
      padding: 0.5rem 0;
    }
  }

  .errorVisibility {
    visibility: hidden;
  }

  .error {
    font-family: $fontFamilySourceCode;
    font-size: toRem(13);
    color: #eb0000;
    font-weight: 200;
    line-height: 150%;
    padding: 0.5rem 0;
  }

  .addBtn {
    margin: 0.5rem 0;
  }

  .fileUploadWrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    margin: 1rem 0;
    padding-top: 3rem;

    .fileUploadSubWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 1rem;


      .uploadInput {
        font-family: $fontFamilySourceCode;
        width: 100%;
        padding: 0.5rem;
        border-radius: toRem(10);
      }

      .uploadButton {
        color: white;
        font-weight: 500;
        white-space: nowrap;
        background-color: $light-blue;
        padding: 0.5rem;
        border-radius: 10px;
      }
    }
  }

  .optionList {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;

    .options {
      flex: 1;
    }

    .deleteBtn {
      margin-top: 1.5rem;
      cursor: pointer;
    }
  }
}