$white: #fff;
$black: #000;

$coditasColor: #2c74d6;
$headingColor: #1d2939;

$fontFamilySourceCode: "Source Code Pro";
$fontFamilyIBMPlexMono: "IBM Plex Mono";
$fontFamilyRobotoMono: "Roboto Mono";

$boxShadow-color1: #1018281a;
$boxShadow-color2: #1018280f;

$mitsuColorYellowPrimary: #F9EA2B;
$mitsuColorBluePrimary: #48C8DE;
$mitsuColorBlueSecondary: #3CC6F0;
$mitsuColorYellowSecondary: #F9E70C;