$white: #fff;
$black: #000;

$coditasColor: #2c74d6;
$headingColor: #1d2939;

$fontFamilySourceCode: "Source Code Pro";
$fontFamilyIBMPlexMono: "IBM Plex Mono";
$fontFamilyRobotoMono: "Roboto Mono";

$boxShadow-color1: #1018281a;
$boxShadow-color2: #1018280f;

$mitsuColorYellowPrimary: #FFE600;
$mitsuColorYellowSecondary: #F2D338;
$mitsuColorBluePrimary: #1ECEF7;
$mitsuColorBlueSecondary: #3DEBF4;

$mitsuColorRedSecondary: #F37A3C;
$mitsuColorGreenSecondary: #3DE887;
$mitsuColorBlackSecondary: #3A3939;

$mistuSuccessColor: #00AD45;
$mistuInformativeColor: #3892F3;
$mistuNoticeColor: #F6AF24;
$mistuFailedColor: #EA3829;

$primary-font: "Montserrat";
$secondary-font: "Roboto";
$light-gray: #667085;
$quill-border: #F9FAFB;
$quill-lightgray : lightgray;
$primary-gray: #D0D5DD;
$quill-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
$quill-color1: #EFEFEF;
$quill-color2: cyan;
$quill-color3: #2D9EE0;
$quill-color4: #2AB27B;
$quill-color5: #FFBB88;
$light-blue: #2196F3;