$white: #fff;
$black: #000;

$coditasColor: #2c74d6;
$headingColor: #1d2939;

$fontFamilySourceCode: "Source Code Pro";
$fontFamilyIBMPlexMono: "IBM Plex Mono";
$fontFamilyRobotoMono: "Roboto Mono";

$boxShadow-color1: #1018281a;
$boxShadow-color2: #1018280f;

$mitsuColorYellowPrimary: #FFE600;
$mitsuColorYellowSecondary: #F2D338;
$mitsuColorBluePrimary: #1ECEF7;
$mitsuColorBlueSecondary: #3DEBF4;

$mitsuColorRedSecondary: #F37A3C;
$mitsuColorGreenSecondary: #3DE887;
$mitsuColorBlackSecondary: #3A3939;

$mistuSuccessColor: #00AD45;
$mistuInformativeColor: #3892F3;
$mistuNoticeColor: #F6AF24;
$mistuFailedColor: #EA3829;