@import "../../../../../styles/variables";
@import "../../../../../styles/mixins.scss";

.moduleForm {
  @include container();
  max-height: 100vh;
  padding: 3rem 0;
  background-color: white !important;

  .formContainer {
    @include formContainer();
    padding-bottom: 10rem;

    .formElements {
      @include fieldWrapper();

      .formLabels {
        font-family: $fontFamilySourceCode;
        font-weight: 600;
        font-size: toRem(17);

        .requiredField {
          color: red;
          font-size: toRem(12);
          margin-left: 0.1rem;
          padding-bottom: 0.5rem;
        }
      }

      .errorVisibility {
        visibility: hidden;
      }

      .error {
        font-family: $fontFamilySourceCode;
        font-size: toRem(13);
        color: #eb0000;
        font-weight: 200;
        line-height: 150%;
      }

      .fileUploadWrapper {
        display: flex;
        flex-direction: column;
        grid-gap: toRem(4);
        margin-top: 1rem;

        .fileUploadSubWrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          grid-gap: 1rem;

          .uploadInput {
            font-family: $fontFamilySourceCode;
            width: 100%;
            padding: 0.5rem;
            border-radius: toRem(10);
          }

          .uploadButton {
            color: white;
            font-weight: 500;
            white-space: nowrap;
            background-color: $light-blue;
            padding: 0.5rem;
            border-radius: 10px;
          }
        }
      }
    }

    .addDays {
      padding-top: 0;
      margin-top: 0;
    }
  }
}