@import "../../styles/variables";
@import "../../styles/mixins.scss";

.screenContainer {
  padding: 1rem;
  box-shadow: 0 0.0625rem 0.1875rem $boxShadow-color1, 0 0.0625rem 0.125rem $boxShadow-color2;
  margin-bottom: 1rem;

  .addBtn {
    margin: 0.5rem 0;
  }

  .screens {
    .screenLabel {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(18);
      font-weight: 500;
      text-decoration: underline;
    }

    .formLabels {
      font-family: $fontFamilySourceCode;
      font-weight: 600;
      font-size: toRem(17);
    }

    .screenSubWrapper {
      .deleteBtn {
        display: flex;
        justify-content: end;

        .btn {
          display: block;
          cursor: pointer;
          color: #D41C1D;
        }
      }
    }
  }
}