@import "../../styles/variables";
@import "../../styles/mixins.scss";

.screenContainer {
  width: 100%;
  padding: 1rem;
  box-shadow: 0 0.0625rem 0.1875rem $boxShadow-color1, 0 0.0625rem 0.125rem $boxShadow-color2;

  .addBtn {
    margin: 0.5rem 0;
  }

  .screens {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;

    .deleteContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .deleteBtn {
      margin-top: 1.5rem;
      cursor: pointer;
    }
  }
}