@import "../../../styles/variables";
@import "../../../styles/mixins.scss";

.optionContainer {
  overflow-y: scroll;
  padding: 0.5rem;
  scroll-behavior: smooth;

  .formLabels {
    font-family: $fontFamilySourceCode;
    font-weight: 500;
    font-size: toRem(15);
    color: black !important;

    .requiredField {
      color: red;
      font-size: toRem(12);
      margin-left: 0.1rem;
      padding: 0.5rem 0;
    }
  }

  .errorVisibility {
    visibility: hidden;
  }

  .error {
    font-family: $fontFamilySourceCode;
    font-size: toRem(13);
    color: #eb0000;
    font-weight: 200;
    line-height: 150%;
    padding: 0.5rem 0;
  }


  .addBtn {
    margin: 0.5rem 0;
  }

  .carouselContainer {
    padding: 1rem 0 1rem 0;

    .carouselQuill {
      // padding-top: 0.5rem;
      padding-bottom: 3rem;
    }

    .carousel {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: center;

      .deleteContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .deleteBtn {
        margin-top: 1.5rem;
        cursor: pointer;
      }
    }
  }

  .quillContainer {
    padding: 0 0 2rem 0;
  }
}