.gridContainer {
  background: linear-gradient(180deg, rgba(58, 63, 70, 79%) 0%, rgba(232, 236, 238, 0) 60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}