@import "../../styles/variables";
@import "../../styles/mixins.scss";

.login {

  .errorVisibility {
    visibility: hidden;
  }

  .error {
    font-family: $fontFamilySourceCode;
    font-size: toRem(13);
    color: #eb0000;
    font-weight: 200;
    line-height: 150%;
  }

  .heading {
    @include heading();
    font-size: toRem(30);
    color: white !important;
    margin-top: 1rem;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .formElements {
      display: flex;
      flex-wrap: nowrap;

      .inputLabel {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;

        .passwordShow {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          font-size: toRem(25);
          padding: 0 0.5rem;
        }

        .input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}