.optionContainer {
  overflow-y: scroll;
  padding: 0.5rem;

  .addBtn {
    margin: 0.5rem 0;
  }

  .optionList {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;

    .options {
      flex: 1;
    }

    .deleteBtn {
      margin-top: 1.5rem;
      cursor: pointer;
    }
  }
}